div.header {
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
}
div.sidebar {

}
div.mainsection {

}

div.footer {

}

div.optionLevel1{
    	text-indent:20px;
}





.errorExplanation {
    border: 2px solid red;
    padding: 2em;
}

.fieldWithErrors input {
    border: 2px solid red;
    font-weight: bold;
}