<h1>Results</h1>

<h2>Downloads</h2>
<% i = 0; while i<@names.size %>
<%= link_to "#{@names[i]}", :action => 'download' , :file => "#{@files[i]}"%><br>
<% i = i+1; end %>
<br>
<%= button_to "Submit new job" , :controller => 'raxml', :action => 'index' %><br>
