<!-- Autorefresh and call of action Check for Results -->
<meta http-equiv="refresh" content="20" >
<div style="text-align:left; vertical-align:middle"> <h3>Job is running!</h3> 
  <div id="block">
    <p>Your results will appear in this window when the job has been finished.</p>
    <p>Your Job id is <b><%=@id%></b>.</p>
    <div id="text">You can use the id to look up your job later in the <%= link_to "Look up jobs", :action => 'look'%> section.</div>
  </div>
</div>


